.html {
  color: red;
}
.css {
  color: darkblue;
}
.creation {
  color: darkgreen;
}
.javascript {
  color: darkorange;
}
.react {
  color: darkred;
}
.tool {
  color: violet;
}
.semaine1 {
  color: red;
}

.semaine2 {
  color: darkblue;
}

.semaine3 {
  color: darkgreen;
}

.semaine4 {
  color: darkgreen;
}

.semaine5 {
  color: darkorange;
}

.semaine6 {
  color: darkorange;
}

.semaine7 {
  color: darkorange;
}

.semaine8 {
  color: darkgreen;
}

.semaine9 {
  color: darkred;
}

.semaine10 {
  color: darkred;
}

.semaine11 {
  color: darkred;
}

.semaine12 {
  color: darkred;
}

.semaine13 {
  color: darkred;
}

.semaine14 {
  color: violet;
}

.semaine15 {
  color: violet;
}
.semaine16 {
  color: darkgreen;
}
.semaine17 {
  color: darkgreen;
}
